<!DOCTYPE html>
<html lang="zh-cmn-hans">
<head>
    <title>文章列表</title>
    <meta charset="utf-8"/>
    <meta name="author" content="sumuzhe"/>
    <meta name="description" content="sumuzhe的博客"/>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico"/>
    <link href="/css/backend/main.css" rel="Stylesheet" type="text/css"/>
    <link href="/css/backend/index.css" rel="stylesheet" type="text/css"/>
    <link href="/css/backend/style.css" rel="stylesheet" type="text/css"/>
    <link href="/css/templatemo-style.css" rel="stylesheet" type="text/css"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/main.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<p style="text-align: center">
    <a href="/" target="_blank">前台 &nbsp;&nbsp;|&nbsp;&nbsp; </a>
    <a href="/api/admin/sign-out" onclick="signOut(); return false;">登出</a>
</p>
<br><br>

<div id="wrap">
    <!--引入中部导航栏-->
    <div class="tabs_header">
        <ul id="ul_tab" class="tabs" style="width: 120%">
            <li><a href="/admin"><span>文章管理</span></a></li>
            <li><a href="/admin/tag"><span>标签管理</span></a></li>
            <li><a href="/admin/comment"><span>评论管理</span></a></li>
            <li><a href="/admin/letter"><span>信件管理</span></a></li>
            <li><a href="/admin/sign-in-log"><span>登录日志</span></a></li>
            <li><a href="/admin/operation"><span>操作记录</span></a></li>
            <li><a href="/admin/read-log/"><span>阅读记录</span></a></li>
            <li><a href="javascript:void(0);" onclick="alert('待开发')"><span>草稿箱</span></a></li>
            <li><a href="javascript:void(0);" onclick="alert('待开发')"><span>回收站</span></a></li>
            <li><a href="/admin/article/write" target="_blank"><span>写新文章</span></a></li>
        </ul>
    </div>


    <div id="sel_div" class="h_status">

        共查询到xxx 条记录
        <form action="admin/index/1" method="post" id="form">
            <input type="hidden" value="${article.catId }" id="catId">
            类别：
            <select id="selCat" name="catId">
                <option value="0">全部&nbsp;&nbsp;&nbsp;&nbsp;</option>
            </select>

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="submit" value="查询">
        </form>
    </div>

    <table id="lstBox">
        <thead>
        <tr>
            <th class="tdleft">标题</th>
            <th class="tdleft">发表时间</th>
            <th class="tdleft">标签</th>
            <th style="width: 50px;">阅读</th>
            <th style="width: 170px;">操作</th>
        </tr>
        </thead>

        <tbody id="articles">
        <!--<tr>
                <td class="tdleft">
                    <a href="/article/{{$row->getId()}}" target="_blank">{{$row->getTitle()}}</a>
                </td>
                <td class="tdleft">
                    <span class="gray">&nbsp;{{$row->getEditTime()}}</span>
                </td>
                <td class="tdleft"><a href="..." target="_blank">{{$row->getTags()}}</a></td>
                <td>{{$row->getReadNum()}}</td>
                <td>
                    <a href="#">编辑</a> |
                    <a id="{{$row->getId()}}" class="clickA" href="javascript:void(0);">删除</a> |
                    <a href="javascript:void(0);" onclick="javascript:return setcat(this,77541846);" class="cat">修改标签</a>
                </td>
            </tr>-->
        </tbody>
    </table>
</div>
<br/><br/>

<!-- pagination section -->
<div style="text-align:center;">
    <ul class="pagination">
    </ul>
</div>


<script src="/js/common/jquery-1.12.4.min.js" type="text/javascript"></script>
<script src="/js/common.js" type="text/javascript"></script>
<script src="/js/back-end/index.js" type="text/javascript"></script>

</body>
</html>

