<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!-- 批量定义别名, 指定包名, 别名就是类名(大小写都行), 多个包用分号隔开 -->
    <typeAliases>
        <package name="com.su.demo.pojo"/>
    </typeAliases>


</configuration>



		
	