<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Ada</title>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Laravel-Blog/Ada"/>
    <meta name="referrer" content="no-referrer-when-downgrade"/>

    <meta property="og:site_name" content="Ada"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Ada"/>
    <meta property="og:description" content="Laravel-Blog/su"/>
    <meta property="og:url" content="http://www.muzhez.com/"/>

    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title" content="Ada"/>
    <meta name="twitter:description" content="Laravel-Blog/su"/>
    <meta name="twitter:url" content="http://www.muzhez.com/"/>
    <meta name="twitter:site" content="Ada"/>
    <meta property="og:image:width" content="2000"/>
    <meta property="og:image:height" content="666"/>

    <link rel="stylesheet" href="/public/css/templatemo-style.css">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/public/css/main.css"/>
    <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon"/>
    <link rel="canonical" href="http://www.muzhez.com/"/>


</head>
<style>
    .post-card {
        min-height: 10px
    }
</style>
<body class="home-template">
<a href="top" id="top"></a>

<div class="site-wrapper">

    <header class="site-header outer" style="background-image: url('/public/images/bg1.jpg')">
        <div class="inner">
            <nav class="site-nav">
                <div class="site-nav-left">
                    <a class="site-nav-logo" href="/">Ada</a>
                    <ul class="nav" role="menu">
                        <li class="nav-home nav-current" role="menuitem"><a href="/">HOME</a></li>
                        <li class="nav-php" role="menuitem"><a href="/about">ABOUT</a></li>
                        <li class="nav-front-end" role="menuitem"><a href="/contact">CONTACT</a></li>
                    </ul>

                </div>
                <div class="site-nav-right">
                    <a class="rss-button" href="https://github.com/renchangjiu/Ada-BLOG.git" target="_blank"
                       rel="noopener">
                        <img src="/public/images/GitHub-Mark-Light-120px-plus.png" style="width: 40px"/>
                    </a>
                </div>
            </nav>
            <div class="site-header-content">
                <h2 class="site-description" style="font-family: KaiTi; font-size: 27px">目下心烦，求闲不闲</h2>
            </div>
        </div>
    </header>

    <main id="site-main" class="site-main outer" role="main">
        <div class="inner" id="content">

            <!--&lt;!&ndash;一项 开始-->
            <!--<div class="" style="overflow: auto">-->
            <!--<article class="post-card post tag-php no-image">-->
            <!--<div class="post-card-content">-->
            <!--<a class="post-card-content-link" href="/article/{{$article->getId()}}/">-->
            <!--<header class="post-card-header">-->
            <!--<p class="post-card-tags">-->

            <!--</p>-->
            <!--<h2 class="post-card-title">{{$article->getTitle()}}</h2>-->
            <!--</header>-->
            <!--<section class="post-card-excerpt">-->
            <!--<p>{{$article->getSummary()}}</p>-->
            <!--</section>-->
            <!--</a>-->
            <!--</div>-->
            <!--</article>-->
            <!--</div>-->
            <!--一项 结束-->

        </div>

        <!-- pagination section -->
        <div style="text-align:center;">
            <ul class="pagination">
            </ul>
        </div>
    </main>

    <br><br><br><br>

    <!-- footer section -->
    <br><br><br><br>
    <footer>
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <div class="wow fadeInUp footer-copyright" data-wow-delay="1.8s">
                        <p style="font-size: 13PX;">
                            <i>&copy; 2017- All Rights Reserved. more write, more read&nbsp;&nbsp;</i>
                            <a href="/" target="_blank" title="muzhe">Ada-BLOG</a>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </footer>


</div>

<script src="/public/js/common/jquery-1.12.4.min.js" type="text/javascript"></script>
<script src="/public/js/common/jquery.fitvids.js" type="text/javascript"></script>
<script src="/public/js/mobile/index.js" type="text/javascript"></script>

</body>
</html>



