<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon"/>
    <title></title>
    <link href="/css/index.css" rel="stylesheet" type="text/css"/>
    <link href="/css/article-detail.css" rel="stylesheet" type="text/css">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
</head>
<body class="post-template-default single single-post postid-1311 single-format-status custom-background round-avatars">
<div class="Yarn_Background" style="background-image: url(/images/bg1.jpg);"></div>

<!-- search section start-->
<form class="js-search search-form search-form--modal" role="search">
    <div class="search-form__inner">
        <div>
            <div id="search-container" class="ajax_search">
                <form>
                    <div class="filter_container">
                        <input type="text" value="" autocomplete="off" placeholder="Type then select or enter"
                               name="search" id="search-input"/>
                        <ul id="search_filtered" class="search_filtered">
                            <!--<li><a href="...">交代是不可能交代的</a></li>-->
                        </ul>
                    </div>
                    <input type="submit" name="submit" id="searchsubmit" class="searchsubmit" value=""/>
                </form>
            </div>
        </div>
    </div>
</form>
<!-- search section end-->
<div class="navi" data-aos="fade-down">
    <div class="bt-nav">
        <div class="line line1"></div>
        <div class="line line2"></div>
        <div class="line line3"></div>
    </div>
    <div class="navbar animated fadeInRight">
        <div class="inner">
            <nav id="site-navigation" class="main-navigation">
                <div id="main-menu" class="main-menu-container">
                    <div class="menu-menu-container">
                        <ul id="primary-menu" class="menu">
                            <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home">
                                <a href="/">HOME</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="/about">ABOUT</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="/contact">CONTACT</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="https://github.com/renchangjiu/Ada-BLOG.git" target="_blank">GitHub</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- site-navigation -->
        </div>
    </div>
</div>

<div class="hebin" data-aos="fade-down">
    <i class=" js-toggle-search iconfont">&#xe60e;</i>
</div>
<header id="masthead" class="overlay animated from-bottom" itemprop="brand">
    <div class="site-branding text-center">
        <!--<a href="http://jjlin.net">
            <figure >
                <img  class="custom-logo avatar" src="头像"/>
            </figure>
        </a>-->
        <h1 class="blog-description" style="font-family: KaiTi,serif; color: #6c757d; font-size: 30px">目下心烦，求闲不闲</h1>
    </div><!-- .site-branding -->
    <div class="decor-part">
        <div id="particles-js"></div>
    </div>
    <div class="animation-header">
        <div class="decor-wrapper">
            <svg id="header-decor" class="decor bottom" xmlns="http://www.w3.org/2000/svg" version="1.1"
                 viewBox="0 0 100 100" preserveAspectRatio="none">
                <path class="large left" d="M0 0 L50 50 L0 100" fill="rgba(255,255,255, .1)"></path>
                <path class="large right" d="M100 0 L50 50 L100 100" fill="rgba(255,255,255, .1)"></path>
                <path class="medium left" d="M0 100 L50 50 L0 33.3" fill="rgba(255,255,255, .3)"></path>
                <path class="medium right" d="M100 100 L50 50 L100 33.3" fill="rgba(255,255,255, .3)"></path>
                <path class="small left" d="M0 100 L50 50 L0 66.6" fill="rgba(255,255,255, .5)"></path>
                <path class="small right" d="M100 100 L50 50 L100 66.6" fill="rgba(255,255,255, .5)"></path>
                <path d="M0 99.9 L50 49.9 L100 99.9 L0 99.9" fill="rgba(255,255,255, 1)"></path>
                <path d="M48 52 L50 49 L52 52 L48 52" fill="rgba(255,255,255, 1)"></path>
            </svg>
        </div>
    </div>
</header>
<div id="main" class="content">
    <div class="container">
        <article
                class="js-gallery post-1311 post type-post status-publish format-status has-post-thumbnail hentry category-uncategorized tag-22 post_format-post-format-status">
            <section class="post_content">
                <header class="post_header">
                    <p id="title" class="post_title" style="text-align: center; font-size: 40px">
                        <!--here is title--></p>
                    <p style="text-align: center">
                        <span id="editTime"><!--here is editTime--></span>&nbsp;&nbsp;&nbsp;
                        <span id="tags"><!--here is tags--></span>
                    </p>
                </header>
                <div id="content" class="post-body js-gallery">
                    <!--here is article content-->
                </div>
            </section>
        </article>
    </div>
    <svg id="upTriangleColor" width="100%" height="40" viewBox="0 0 100 102" preserveAspectRatio="none">
        <path d="M0 0 L50 100 L100 0 Z"></path>
    </svg>
    <div id="panel">
        <div class="comment-area">
            <section class="comments">
                <div class="comments-main">
                    <div id="comments-list-title"><span id="commentComment"></span></div>
                    <!-- comment list start -->
                    <ul id="comments" class="commentwrap">
                        <!-- one comment start -->
                        <!-- <li class="comment even thread-even depth-1">
                             <div class="comment_body contents">
                                 <div class="main shadow">
                                     <div class="commentinfo">
                                         <section class="commeta">
                                             <div class="shang">
                                                 <h4>here is comment name</h4>
                                             </div>
                                         </section>
                                     </div>
                                     <div class="body">
                                         <p>here is comment content</p>
                                     </div>
                                     <div class="xia info">
                                         <span>
                                             <time>here is comment time</time>
                                         </span>
                                     </div>
                                 </div>
                             </div>
                         </li>-->
                        <!-- one comment end -->
                    </ul>
                    <!-- comment list end -->

                    <!-- paging in the comments section start -->
                    <nav id="comments-page">
                    </nav>
                    <!-- paging in the comments section end -->

                    <!-- write the comment section start -->
                    <div id="respond" class="comment-respond">
                        <form id="commentform" class="clearfix">
                            <div class="clearfix"></div>
                            <div class="author-info">
                                <input type="text" name="author" id="name" placeholder="昵  称 : " value="" tabindex="1"/>
                            </div>
                            <div class="clearfix"></div>
                            <div class="comment-form-info">
                                <div class="real-time-gravatar">
                                    <img id="real-time-gravatar" src="/images/gravatar.png" alt="gravatar头像"/>
                                </div>
                                <p class="input-row">
                                    <i class="row-icon" id="errorMsg" style="color: red; font-size: 10px">
                                        <!--错误信息--></i>
                                    <textarea class="text_area" rows="3" cols="80" name="comment" id="comment-content"
                                              tabindex="4" placeholder="你不说两句吗？(°∀°)ﾉ……"></textarea>
                                    <input type="button" name="submit" class="button" id="submit" tabindex="5"
                                           value="发送"/>
                                </p>
                            </div>
                        </form>
                    </div>
                    <!-- write the comment section end -->
                </div>
            </section>
        </div>
    </div>
    <svg id="dwTriangleColor" width="100%" height="40" viewBox="0 0 100 102" preserveAspectRatio="none">
        <path d="M0 0 L50 100 L100 0 Z"></path>
    </svg>
    <div class="wrapper">
    </div>
</div>

<footer id="footer" class="overlay animated from-top">
    <div class="decor-wrapper">
        <svg id="footer-decor" class="decor top" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 100 100"
             preserveAspectRatio="none">
            <path class="large left" d="M0 0 L50 50 L0 100" fill="rgba(255,255,255, .1)"></path>
            <path class="large right" d="M100 0 L50 50 L100 100" fill="rgba(255,255,255, .1)"></path>
            <path class="medium left" d="M0 0 L50 50 L0 66.6" fill="rgba(255,255,255, .3)"></path>
            <path class="medium right" d="M100 0 L50 50 L100 66.6" fill="rgba(255,255,255, .3)"></path>
            <path class="small left" d="M0 0 L50 50 L0 33.3" fill="rgba(255,255,255, .5)"></path>
            <path class="small right" d="M100 0 L50 50 L100 33.3" fill="rgba(255,255,255, .5)"></path>
            <path d="M0 0 L50 50 L100 0 L0 0" fill="rgba(255,255,255, 1)"></path>
            <path d="M48 48 L50 51 L52 48 L48 48" fill="rgba(255,255,255, 1)"></path>
        </svg>
    </div>
    <div class="socialize" data-aos="zoom-in">
        <br><br><br>
    </div>
    <div class="cr">
        &copy; 2018- All Rights Reserved. more write, more read <a href="/" TARGET="_blank">ADA</a>
    </div>
</footer>


<script src="../js/common/jquery-1.12.4.min.js" type="text/javascript"></script>
<script src="../js/front-end/index/script.js" type="text/javascript"></script>
<script src="../js/front-end/index/particles.js" type="text/javascript"></script>
<script src="../js/front-end/index/aos.js" type="text/javascript"></script>
<script src="../js/front-end/index/jQuery-migrate.js" type="text/javascript"></script>

<script src="../js/common.js" type="text/javascript"></script>
<script src="../js/front-end/article-detail.js" type="text/javascript"></script>
<script src="../js/front-end/load-comment.js" type="text/javascript"></script>

<script>
    let infinite_scroll = {
        loading: {
            img: "/images/ajax-loader.gif",
            msgText: "",
            finishedMsg: ""
        },
        nextSelector: ".js-next a",
        navSelector: ".js-pagination",
        itemSelector: ".post,.archive-post",
        contentSelector: ".js-posts"
    };
</script>
</body>
</html>