<!doctype html>
<html lang="zh">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Ada</title>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="sumuzhe的博客"/>
    <meta name="referrer" content="no-referrer-when-downgrade"/>
    <meta property="og:site_name" content="Ada"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Ada"/>
    <meta property="og:description" content="Laravel-Blog/su"/>
    <meta property="og:url" content="https://www.muzhez.com/"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title" content="Ada"/>
    <meta name="twitter:description" content="Laravel-Blog/su"/>
    <meta name="twitter:url" content="http://www.muzhez.com/"/>
    <meta name="twitter:site" content="Ada"/>
    <meta property="og:image:width" content="2000"/>
    <meta property="og:image:height" content="666"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="canonical" href="https://www.muzhez.com/"/>
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon"/>
    <link href="../css/index.css" rel="stylesheet" type="text/css"/>
    <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
</head>
<body class="home blog custom-background round-avatars">
<div class="Yarn_Background" style="background-image: url(../images/bg1.jpg);"></div>

<!-- search section start-->
<form class="js-search search-form search-form--modal" role="search">
    <div class="search-form__inner">
        <div>
            <div id="search-container" class="ajax_search">
                <form>
                    <div class="filter_container">
                        <input type="text" value="" autocomplete="off" placeholder="Type then select or enter"
                               name="search" id="search-input"/>
                        <ul id="search_filtered" class="search_filtered">
                            <!--<li><a href="...">交代是不可能交代的</a></li>-->
                        </ul>
                    </div>
                    <input type="submit" name="submit" id="searchsubmit" class="searchsubmit" value=""/>
                </form>
            </div>
        </div>
    </div>
</form>
<!-- search section end-->

<div class="navi" data-aos="fade-down">
    <div class="bt-nav">
        <div class="line line1"></div>
        <div class="line line2"></div>
        <div class="line line3"></div>
    </div>
    <div class="navbar animated fadeInRight">
        <div class="inner">
            <nav id="site-navigation" class="main-navigation">
                <div id="main-menu" class="main-menu-container">
                    <div class="menu-menu-container">
                        <ul id="primary-menu" class="menu">
                            <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home">
                                <a href="/">HOME</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="/about">ABOUT</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="/contact">CONTACT</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="https://github.com/renchangjiu/Ada-BLOG.git" target="_blank">GitHub</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- site-navigation -->
        </div>
    </div>
</div>

<div class="hebin" data-aos="fade-down">
    <i class=" js-toggle-search iconfont">&#xe60e;</i>
</div>
<header id="masthead" class="overlay animated from-bottom" itemprop="brand">
    <div class="site-branding text-center">
        <!--<a href="http://jjlin.net">
            <figure >
                <img  class="custom-logo avatar" src="头像"/>
            </figure>
        </a>-->
        <h1 class="blog-description" style="font-family: KaiTi,serif; color: #6c757d">目下心烦，求闲不闲</h1>
    </div><!-- .site-branding -->
    <div class="decor-part">
        <div id="particles-js"></div>
    </div>
    <div class="animation-header">
        <div class="decor-wrapper">
            <svg id="header-decor" class="decor bottom" xmlns="http://www.w3.org/2000/svg" version="1.1"
                 viewBox="0 0 100 100" preserveAspectRatio="none">
                <path class="large left" d="M0 0 L50 50 L0 100" fill="rgba(255,255,255, .1)"></path>
                <path class="large right" d="M100 0 L50 50 L100 100" fill="rgba(255,255,255, .1)"></path>
                <path class="medium left" d="M0 100 L50 50 L0 33.3" fill="rgba(255,255,255, .3)"></path>
                <path class="medium right" d="M100 100 L50 50 L100 33.3" fill="rgba(255,255,255, .3)"></path>
                <path class="small left" d="M0 100 L50 50 L0 66.6" fill="rgba(255,255,255, .5)"></path>
                <path class="small right" d="M100 100 L50 50 L100 66.6" fill="rgba(255,255,255, .5)"></path>
                <path d="M0 99.9 L50 49.9 L100 99.9 L0 99.9" fill="rgba(255,255,255, 1)"></path>
                <path d="M48 52 L50 49 L52 52 L48 52" fill="rgba(255,255,255, 1)"></path>
            </svg>
        </div>
    </div>
</header>
<div id="main" class="content">
    <div class="container">
        <!-- article list start -->
        <article id="content">
            <!-- an article start -->
            <!-- <div class="posts-list js-posts">
                 <div class="post post-layout-list" data-aos="fade-up">
                     <div class="status_list_item icon_kyubo">
                         <div class="status_user"
                              style="background-image: url(/public/images/1.jpg);">
                             <div class="status_section">
                                 <p class="section_p" style="color: #8d908b;font-family: 楷体,serif">
                                     &lt;!&ndash;time & readNum & tags&ndash;&gt;
                                     sdgsdgsdfg
                                 </p>
                                 <a href="#" class="status_btn">this is title</a>
                                 <p class="section_p">
                                     相隔上一次的更新我掰手指数一数，下意识的双腿一软，给各位小哥哥小姐姐们跪下了。自从有了对象后，周末几乎落下了主题的进度（邪魅的笑）。一边开发新的主题，一边收集您们给我反馈回来的"臭虫"，还有新的主题后台看见了一些大神在...
                                 </p>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>-->
            <!-- an article end -->

        </article>
        <!-- article list end -->

        <!-- pagination -->
        <div id="page-helper"></div>

    </div>
</div>

<footer id="footer" class="overlay animated from-top">
    <div class="decor-wrapper">
        <svg id="footer-decor" class="decor top" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 100 100"
             preserveAspectRatio="none">
            <path class="large left" d="M0 0 L50 50 L0 100" fill="rgba(255,255,255, .1)"></path>
            <path class="large right" d="M100 0 L50 50 L100 100" fill="rgba(255,255,255, .1)"></path>
            <path class="medium left" d="M0 0 L50 50 L0 66.6" fill="rgba(255,255,255, .3)"></path>
            <path class="medium right" d="M100 0 L50 50 L100 66.6" fill="rgba(255,255,255, .3)"></path>
            <path class="small left" d="M0 0 L50 50 L0 33.3" fill="rgba(255,255,255, .5)"></path>
            <path class="small right" d="M100 0 L50 50 L100 33.3" fill="rgba(255,255,255, .5)"></path>
            <path d="M0 0 L50 50 L100 0 L0 0" fill="rgba(255,255,255, 1)"></path>
            <path d="M48 48 L50 51 L52 48 L48 48" fill="rgba(255,255,255, 1)"></path>
        </svg>
    </div>
    <div class="socialize" data-aos="zoom-in">
        <br><br><br>
    </div>
    <div class="cr">
        &copy; 2018- All Rights Reserved. more write, more read <a href="/" TARGET="_blank">ADA</a>
    </div>
</footer>
<!--Third party library-->
<script src="../js/common/jquery-1.12.4.min.js" type="text/javascript"></script>
<script src="../js/front-end/index/jQuery-migrate.js" type="text/javascript"></script>
<script src="../js/front-end/index/script.js" type="text/javascript"></script>
<script src="../js/front-end/index/particles.js" type="text/javascript"></script>
<script src="../js/front-end/index/aos.js" type="text/javascript"></script>
<script src="../js/front-end/index.js" type="text/javascript"></script>

<script src="../js/common.js" type="text/javascript"></script>
<script src="../js/pageHelper.js" type="text/javascript"></script>
<script>
    let infinite_scroll = {
        loading: {
            img: "/images/ajax-loader.gif",
            msgText: "",
            finishedMsg: ""
        },
        nextSelector: ".js-next a",
        navSelector: ".js-pagination",
        itemSelector: ".post,.archive-post",
        contentSelector: ".js-posts"
    };
</script>
</body>
</html>